body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#tracker {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

#transactionButtons button {
  margin: 5px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.box {
  width: 100%;
  height: auto;
  position: relative;
}

/* Adjustments to specific elements within the box */
.box .group,
.box .overlap-group,
.box .overlap,
.box .finance-app-title,
.box #quote-container,
.box .text-wrapper-2,
.box .text-wrapper,
.box #quote-text,
.box .div-wrapper,
.box .text-wrapper-3,
.box .overlap-2,
.box .overlap-3,
.box .overlap-4,
.box .overlap-5 {
  width: 100%;
}

/* Additional adjustments to specific elements */
.box .overlap {
  height: auto;
}

/* Currency Converter Styles */
.box .overlap-2 {
  width: 100%;
  height: auto;
}

/* Styling for the goals */
.container {
  position: relative;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}
